<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Library Management System</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }

    .box {
        width: 45%;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
</head>
<body>

<div class="container">
    <div class="box">
        <h2>Find Book</h2>
    </div>
    <div class="box">
        <a href = "/addbook">Add Book</h2>
    </div>
</div>

</body>
</html>
